
@{
    ViewBag.Title = "NoPermisson";
    Layout = "~/Areas/Admin/Views/Shared/_ShopAdmin.cshtml";
}

<h1>Bạn không đủ quyền để vào chức năng này hoặc đăng nhập tài khoản khác</h1>
<a href="/Login/Login">Đăng Nhập</a>

