<ul>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo.png" alt=""></a></li>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo1.png" alt=""></a></li>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo2.png" alt=""></a></li>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo3.png" alt=""></a></li>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo4.png" alt=""></a></li>
    <li><a href="#"><img class="img-responsive" src="~/Content/Images/lo5.png" alt=""></a></li>
    <div class="clearfix"> </div>
</ul>
