@{
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
<div class="center align-center red" style="font-size:20px">Cảm ơn bạn đã đặt hàng của chúng tôi ! </div>
<br />
<div><a class="continue" href="~/Home/SanPham" style="max-width:200px">Tiếp tục mua hàng</a></div>
<div><a href="~/Home/TrangChu">Go Home</a></div>