@{
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
<div>Không có gì trong giỏ hàng cả ! </div>
<br />
<div><a class="continue" href="~/Home/SanPham" style="max-width:200px">Tiếp tục mua hàng</a></div>
<div><a href="javascript: history.go(-1)">Go Back</a></div>


