<!--19/7/2020 - NQA - Thêm Phân Quyền-->
<ul class="nav nav-list">
    <li class="active">
        <a href="index.html">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Trang chủ </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-shopping-cart"></i>
            <span class="menu-text">
                Sản phẩm
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/Admin/SanPham/DanhSachSanPham">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quản lý sản phẩm
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/ChuDe/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chủ đề
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/LoaiSanPham/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại sản phẩm
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/CTKhuyenMai/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chương trình ưu đãi
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Admin/CTChiTiet/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chương trình chi tiết
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Admin/Slide/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Slide Các Sản Phẩm 
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Hóa đơn </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="tables.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hóa đơn bán hàng
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/KhachHang/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Khách hàng
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Admin/LoaiKhachHang/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Loại khách hàng
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Danh mục </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/Admin/HangSanXuat/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hãng sản xuất
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quốc gia
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user-secret"></i>
            <span class="menu-text">Hệ thống </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="/Admin/NguoiDung/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Quản lý người dùng
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/VaiTro/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Vai trò
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/PhanQuyen/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Phân quyền
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Admin/ChucNang/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chức năng phần mềm
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Admin/NhatKy/DanhSach">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nhật Ký Chỉnh Sửa
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="search.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Cấu hình
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

</ul><!-- /.nav-list -->
